%h1.name-header Hi, I'm Mo
%p I work with Ruby on Rails
%p I play with Rubymotion
%p I code in Vim
%p I collaborate with startups
%p I live in Boston
%p 
  I tweet at 
  = link_to "@mozhuuuuu", "http://www.twitter.com/mozhuuuuu"
%p 
  I write about programming, football analytics, and living the examined life on 
  = link_to "Medium", "http://www.medium.com/@mozhuuuuu"
