// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-summary {
  width: 100%;
  border-bottom: 1px #ddd solid;
  padding: 5px;
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.blog-summary--timestamp {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em;
}

