// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogs-list__summary {
  border-bottom: 1px #ddd solid;
  padding: 1em 0;
}
.blog__title {
  margin: 0px;
}
.blog__summary {
  font-style: italic;
  padding: 0.5em 0;
  margin: 0px;
}
.blog__timestamp {
  font-style: italic;
  padding: 0.5em 0;
}
.blog__actions {
  padding: 0.5em 0;
}

.highlighter-coderay {
  background-color: #eee;
  padding: 0.5em 1em;
  margin: 0.5em 0;
}

.blog__body {
  margin: 1em 0 0 0;
  border-bottom: 1px solid #eee;
  h1, h2, h3, h4, h5, h6 {
    padding: 0.5em 0;
    font-size: 1em;
    margin: 0;
  }
  ol {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    li {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
  p {
    margin: 0 0 1em 0;
    padding: 0.5em 0;
  }
}
