// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogs-list__summary {
  width: 100%;
  border-bottom: 1px #ddd solid;
  padding: 5px 0px;
  &:not(:last-child) {
    margin-bottom: 2em;
  }
}
.blogs-list__summary--timestamp {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em;
}
.blogs-list__summary--actions {
  margin-top: 10px;
}
.blog__title {
  margin: 0px;
}
.blog__summary {
  font-style: italic;
  margin: 0px;
}
.blog__timestamp {
  margin: 0px;
}
