.form__field {
  padding: 5px 0px;
  label {
    display: block;
    padding: 5px 0px;
  }
  input {
    display: block;
    width: 100%;
    outline: none;
    &[type='text'],&[type='password'],&[type='tel'] {
      font-size: 1.5em;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid black;
    }
  }
  textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 30em;
    font-size: 1.2em;
  }
}
.form__actions {
  padding: 0.5em 0;
}
.button {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  &:hover {
    opacity: 0.5;
  }
}
.button--blank {
  background-color: white;
}
.button--success {
  background-color: green;
  color: white;
}
