// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
  color: #000;
}

p {
  text-align: center;
}

h1.name-header {
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px 5px #666;
}
