.login-form {
  width: 25em;
  border: 1px gray solid;
  margin: 12em auto 0 auto;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 2px 1px 1px #666;
}

.logout-button {
  position: fixed;
  bottom: 2em;
  right: 1em;
  background-color: #eee;
  border-radius: 100%;
  height: 5em;
  width: 5em;
  font-size: 1em;
  border: 1px #f96b7c;
  box-shadow: 2px 2px 1px #666;
  color: gray;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
