.login-form {
  width: 25em;
  border: 1px gray solid;
  margin: 12em auto 0 auto;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 2px 1px 1px #666;
}

.login-form__field-group {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.login-form__field-group--label {
  display: block;
  margin-bottom: 2px;
}

.login-form__field-group--field {
  display: block;
  width: 100%;
  height: 2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2px;
}

.logout-button {
  position: fixed;
  bottom: 2em;
  right: 1em;
  background-color: #f96b7c;
  border-radius: 100%;
  height: 5em;
  width: 5em;
  font-size: 1em;
  border: 1px #f96b7c;
  box-shadow: 2px 2px 1px #666;
  color: white;
}
