.users-table {
  width: 100%;
}

.user-row {
  td {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &:not(:last-child) td {
    border-bottom: gray dashed 1px;
  }
}

.user-row__delete-button {
  text-align: right;
}
